
@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-Regular.woff") format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-Bold.woff") format(woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("./font/TTLakes-DemiBold.woff") format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'TT Lakes', sans-serif;
}

.header-services-software{
    height: 80px;
    border-top: 1px solid  #D9FFF5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: linear-gradient(to right,#F8F8F8, #FFFFFF);
}

.header-services-software__title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: #7E7E82;
}

.services-software{
    background:#F8F8F8 ;
    height: 234px; 
}

.brands{
    padding-top: 20px;
}

.brands-list{
    display: flex;
    height: 154px;
    min-width: 0;
}

.brands-list__item{
    width: 240px;
    height: 72px; 
}

.brands-list__link{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #EAEAEA;
    background-image: url(image/background/go.png) ;
    background-repeat: no-repeat;
    background-position: 180px 15px;
    width: 240px;
    height: 72px;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-width: 0;
}

.brands__button{
    display: none;
    width: 134px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding:0;
}

.brands__button--style{
    background: url(image/background/expand.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition-property:  rotate();
    transition-duration: 0.5s;
}



/* Стили для свайпера */
 .swiper-pagination-bullet {
    background: #B5B6BC;
    width: 12px;
    height: 12px;
}

article .swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    top: 110px;
}

/* Стили для планшета */
@media (min-width:768px) {

    .services-software{
        padding-left: 24px;
        padding-bottom: 24px;
        height: 322px;
    }

    .header-services-software {
        padding-left: 0;
    }

    .brands{
        padding-right: 24px;
        padding-top: 24px;
    }

    header.header-services-software{
        height: 56px;
    }

    .brands-list{
        flex-wrap: wrap;
        justify-content: space-between;
        gap:20px;
        column-gap: 24px;
        overflow: hidden;
        height: 180px;
    }  
   
    .brands-list__item, .brands-list__link{
        width: 224px;
        height: 72px;
    }

    .brands-list__link{
    background-position: 160px 15px;
    }

    .brands__button{
        display: flex;
    }
    
}




@media (min-width:1120px) {

    body{
        max-width: 1400px;
    }

    .services-software{
        padding-left: 32px;
    }

    .brands{
        padding-right: 32px;
    }

    .brands-list{
        column-gap: 32px;
    }

    .brands-list__item, .brands-list__link{
        width: 240px;
        height: 72px;
    }

    .brands-list__link{
        background-position: 180px 15px;
    }

    
}








